.cadastro-livro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  gap: 24px;
  width: 100%;
  margin-bottom: 5%;
}

.form-livro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.colunas {
  display: flex;
  gap: 15px;
  width: 100%;
}

.coluna {
  width: 100%;
}

.titulo-cad-livro {
  font-weight: bolder;
  color: #402718;
}

.button-primary {
  width: 100%;
}

@media (max-width: 1023px) {
  .colunas{
    flex-direction: column;
  }
}