.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #261610;
}

#header-login {
  font-size: 32px;
}

#mensagem {
  color: #261610;
}

.for{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.log {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

button{
  height: 63px;
  width: 470px;
  margin-top: 25px;
}

.inp-log {
  height: 63px;
  width: 470px;
  border-radius: 10px;
  background-color: #C3ACA0;
  border: none;
  box-shadow: 2px 3px 7px 000.1;
  display: flex;
  flex-direction: column;
}

.esqueci-senha {
  color: #CA996D;
  cursor: pointer;
  text-decoration: underline;
}

.esqueci-senha:hover {
  color: #002f7a;
}

.nao-tem-cadastro {
  font-size: 14px;
  text-align: center;
}

.link-cadastro {
  color: #CA996D;
  cursor: pointer;
  text-decoration: underline;
}

.link-cadastro:hover {
  text-decoration: none;
}