.container-login {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.coluna-esquerda-login {
  width: 50vw;
  height: 95vh;
  background: url("principal.jpg");
  background-position: center center;
  border-radius: 30px;
  margin: 1% 0 1% 2%;
  background-size: cover;
}

.coluna-direita-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #D9CCC5;
  border-radius: 30px;
  width: 50vw;
  height: 95vh;
}

.titulo-login {
  color: #402718;
  font-weight: bolder;
  margin-top: 5%;
}

.descricao-login {
  margin: 18px 0 5% 0;
  color: #A27A6B;
}

.titulo-login, .texto-cadastro {
  color: #261610;
}

.texto-cadastro {
  text-align: center;
  margin: 10% 0 0 0;
}

.link-cadastro {
  color: #261610;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 4px;
}

.link-cadastro:hover {
  color: #8B6047;
}

#mensagem {
  color: #261610;
}

.formulario-login {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.esqueci-senha {
  color: #8B6047;
  cursor: pointer;
  text-decoration: underline;
}

.esqueci-senha:hover {
  color: #261610;
}

.button-primary {
  margin-top: 8%;
}

/* Responsividade */

/* Tablet */
@media (max-width: 1023px) {
  .container-login {
    height: fit-content;
  }

  .titulo-login {
    margin-top: 10%;
  }

  .container-login {
    width: 100%;
    flex-direction: column;
  }

  .coluna-esquerda-login {
    border-radius: 0;
    width: 100vw;
    z-index: 0;
    margin: 0;
  }

  .coluna-direita-login {
    position: absolute;
    justify-content: flex-start;
    margin-bottom: -60%;
    width: 100vw !important;
    z-index: 1;
  }

  .esqueci-senha, .texto-cadastro, .link-cadastro {
    font-size: 14px;
  }
}

/* Celular */
@media (max-width: 767px) {
  .descricao-login {
    font-size: 14px;
  }

  .texto-cadastro {
    margin: 0 !important;
  }
  .button-primary {
    margin-top: 5% !important;
  }
}