.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #D9CCC5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grand {
    display: flex;
    max-width: 800px;
}

.topo {
    font-size: 32px;
    color: #261610;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

#telainicialB {
    max-width: 256px;
    height: 256px;
}

#telainicialA {
    max-width: 546px;
    height: 546px;
}

#titulo {
    display: flex;
    justify-content: center;
    text-align: center;
}

#textinho {
    display: flex;
    text-align: center;
    font-size: 16px;
    color: #261610;
    width: 476px;
    height: 96px;

}

.direita {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.botoes {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}

.crie {
    border: 2px solid #402718;
    background-color: #D9CCC5;
    border-radius: 8px;
    color: #402718;
    font-weight: bolder;
    width: 470px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    cursor: pointer;
}

.faca {
    border: 2px solid #402718;
    border-radius: 8px;
    color: #D9CCC5;
    font-weight: bolder;
    width: 470px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    cursor: pointer;
}