.container-inicial {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.coluna-esquerda-inicial {
  width: 50vw;
  height: 95vh;
  background: url("principal.jpg");
  background-position: center center;
  border-radius: 30px;
  margin: 1% 0 1% 2%;
  background-size: cover;
}

.coluna-direita-inicial {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #D9CCC5;
  border-radius: 30px;
  width: 50vw;
  height: 95vh;
}

.titulo-inicial {
  color: #402718;
  font-weight: bolder;
}

.descricao-inicial {
	text-align: center;
  color: #A27A6B;
	max-width: 480px;
	margin-bottom: 10%;
}

.botoes {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.link-login {
	background-color: #402718;
	color: #C3ACA0 !important;
}

.link-login:hover {
  background-color: #311e12;
}

.link-cad {
	background-color: transparent;
	border: 1px solid #402718;
	color: #402718;
}

.link-cad:hover {
  background-color: #402718;
  color: #C3ACA0;
}

.link-login, .link-cad {
	text-align: center;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 20px;
	border-radius: 10px;
	text-decoration: none !important;
	width: 30vw;
}

@media (max-width: 1023px) {
  .container-inicial {
    height: fit-content;
  }

  .titulo-inicial {
    margin-top: 10%;
  }

  .coluna-esquerda-inicial {
    border-radius: 0;
    width: 100vw;
    z-index: 0;
    margin: 0;
  }

  .coluna-direita-inicial {
    position: absolute;
    justify-content: flex-start;
    margin-bottom: -60%;
    width: 100%;
    z-index: 1;
  }
}

@media (max-width: 767px) {
	.descricao-inicial {
    font-size: 14px;
		padding: 0 30px;
  }

  .link-login, .link-cad  {
    padding: 13px;
    font-size: 14px;
		width: 50vw;
  }
}