.container-livros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.titulo-livros {
  margin-bottom: 2%;
  color: #402718;
}

.button-primary {
  margin-top: 3%;
}

.section-livros {
  display: flex;
  flex-direction: column;
  padding: 55px 48px;
  border: 1px solid #402718;
  border-radius: 10px;
  width: 40%;
  gap: 12px;
}

.toggle-btn-livros {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  background-color: #D9CCC5;
  color: #402718;
  border: none;
  border-radius: 10px;
  padding: 12px 12px 12px 20px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.icon-livro {
  display: flex;
  justify-content: center;
}

.livro-livros {
  border: 1px solid #402718;
  border-radius: 10px;
}

.livro-detalhes-livros {
  padding: 0 12px 12px 20px;
  font-size: 16px;
  color: #402718;
}

.paginacao-livros {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C3ACA0;
  border: 1px solid #402718;
  color: #402718;
  border-radius: 100px;
  gap: 16px;
  margin: 2% 0 5% 0;
}

.paginacao-livros button {
  padding: 14px 25px;
  font-size: 16px;
  background-color: #C3ACA0;
  color: #402718;
  cursor: pointer;
}

.botao-anterior-livros {
  border-radius: 100px 0 0 100px;
  border-right: 1px solid #402718;
}

.botao-proxima-livros {
  border-radius: 0 100px 100px 0;
  border-left: 1px solid #402718;
}

.total-paginacao-livros {
  padding: 0 30px;
}

.paginacao-livros button:disabled {
  background-color: #cac0bc;
  color: #857368;
  cursor: not-allowed;
}

.filtros-livros {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.filtro-wrapper-livros {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #C3ACA0;
  border-radius: 999px;
  overflow: hidden;
  padding: 6px;
  gap: 4px;
  width: fit-content;
  border: 1px solid #402718;
}

.pill-livros {
  position: absolute;
  top: 2px;
  left: 0;
  width: calc(25% - 1px);
  height: calc(100% - 4px);
  background-color: #402718;
  border-radius: 999px;
  transition: transform 0.3s ease;
  z-index: 0;
  margin-left: 2px;
}

.filtro-btn-livros {
  background: transparent;
  border: none;
  padding: 8px 16px;
  font-weight: 500;
  cursor: pointer;
  z-index: 1;
  color: #402718;
  transition: color 0.3s;
  font-size: 14px;
}

.filtro-btn-livros.ativo-livros {
  color: #D9CCC5;
}

.filtro-btn-livros:focus {
  outline: none;
}

.sem-livros-livros {
  text-align: center;
  color: #666;
}

@media (max-width: 1023px) {
  .filtro-btn-livros {
    font-size: 12px;
    padding: 8px 13px;
  }
}

@media (max-width: 1023px) {
  .filtro-btn-livros {
    font-size: 10px;
  }

  .paginacao-livros, .paginacao-livros button {
    font-size: 12px;
  }

  .section-livros {
    width: 86%;
    padding: 37px 16px;
  }

  .paginacao-livros {
    margin-top: 5%;
  }

  .paginacao-livros button {
    padding: 14px 20px;
  }
}

