:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #D9CCC5;

  font-family: "Reem Kufi", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

@media (max-width: 1023px) {
  body {
    height: 100%;
  }
}

h1, h2, h3, h4, p {
  margin: 0;
}

button {
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  transition: border-color 0.25s;
  border: 1px solid transparent;
}

.button-primary {
  padding: 20px;
  background-color: #402718;
  color: #D9CCC5;
  border-radius: 10px;
}

.button-primary:hover {
  background-color: #311e12;
}

.button-primary:focus,
.button-primary:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

label {
  color: #261610;
  font-weight: bolder;
}

input {
  background-color: #C3ACA0;
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
  color: #8B6047;
  border: 1px solid #402718;
}

input::placeholder {
  color: #8B6047;
}

.input-form {
  border: none;
  box-shadow: 2px 3px 7px #0000001d;
}

.input-outline {
  border: 1px solid #402718;
}

.group-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 24px;
  }

  input, button, .button-primary {
    padding: 13px;
    font-size: 14px;
  }

  label {
    font-size: 14px;
  }
}